<launch>
    <arg name="camera"              default="/kinect_right/rgb" />
    <arg name="image_topic"         default="$(arg camera)/image_raw" />
    <arg name="camera_info_topic"   default="$(arg camera)/camera_info" />
    <arg name="marker_length"       default="0.1" />
    <arg name="camera_frame_id"     default="right_rgb_camera_link" />
    <arg name="camera_base_id"      default="right_camera_base" />
    <arg name="yaml_file"           default="$(find aruco-tools)/config/ur3.yaml"/>
    <arg name="pub_live"            default="False"/>

    <include file="$(find aruco-tools)/launch/publishTags.launch">
      <arg name="yaml_file"         value="$(arg yaml_file)" />
    </include>
    <node name="calibCam" pkg="aruco-tools" type="calibCam.py" output="screen" args="$(arg image_topic) $(arg camera_info_topic) $(arg marker_length) $(arg camera_frame_id) $(arg camera_base_id) $(arg yaml_file) $(arg pub_live)"/>
</launch>